venv
cstatic
.idea
*.pyc
*.py~
hipcodes/ipynb/.ipynb_checkpoints
Untitled*.ipynb
*~
node_modules
npm-debug.log
package-lock.json
webpack-stats.json
debug_settings.py
hipcodes_uwsgi.ini
.mypy_cache
sandbox
assets/webpack_bundles
package-lock.json



